# Binary and large data files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.pdf
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.npz
*.npy
*.pt
*.pth
*.pkl
*.pickle
*.joblib
*.h5
*.hdf5
*.feather
*.parquet
*.sav
*.mat
*.mp4
*.mp3
*.wav
*.ogg
*.flac
*.avi
*.mov
*.wmv
*.mkv
*.bin
*.exe
*.dll
*.so
*.dylib
*.iso
*.img
*.tmp
*.log
*.lock
__pycache__/
*.pyc
